.content {
  min-height: 100vh;
    padding-bottom: 10vh;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: 	#daecf0;
    width: 100%;
    padding-top: 5vh;
  }

.content h1 {
  font-size: 45px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 10vh;
  opacity: 0;
  transform: translateY(40px);
  animation: appearBottomToTop 0.8s ease-out forwards, fadeIn 1.2s ease-in forwards;
}

@keyframes appearBottomToTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.icons img {
  width: 100px;
  border-radius: 20px;
  background-color: 	#daecf0;
}

@media (max-width:600px)  {
  .icons {
    flex-direction: column;
    margin-top: 2vh;
  }

  .icons a {
    margin: 0 auto;
    margin-top: 5vh;
  }
 }