
.content {
  padding: 10vh 10vh;
  background-color: 				black;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
}

.profile {
  height: 35vh;
  animation: slide-right-to-left 1s ease;
}

@keyframes slide-right-to-left {
  from {
    transform: translateX(25%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.text {
  display: flex;
  flex-direction: column;
  color:	#daecf0;
  padding: auto 5vh;
  width: 80%;
}

.title {
  font-size: 45px;
  font-weight: bold;
  opacity: 85%;
  line-height: 40px;
  -webkit-text-stroke: 1px #FF6044;
  color: transparent;
  text-shadow:
    0 0 8px #FF6044,
    0 0 16px #FF6044,
    0 0 32px #FF6044,
    0 0 64px #FF6044,
    0 0 128px #FF6044;
  animation: neon-glow 1.5s ease-in-out infinite alternate;
}

@keyframes neon-glow {
  from {
    text-shadow:
      0 0 8px #FF6044,
      0 0 16px #FF6044,
      0 0 32px #FF6044,
      0 0 64px #FF6044,
      0 0 128px #FF6044;
  }
  to {
    text-shadow:
      0 0 16px #FF6044,
      0 0 32px #FF6044,
      0 0 64px #FF6044,
      0 0 128px #FF6044,
      0 0 256px #FF6044;
  }
}

.subtitle {
  opacity: 50%;
}

.text p {
  opacity: 50%;
  font-size: 18px;
  text-align: justify;
  line-height: 30px;
  margin-top: 8vh;
}

.text a {
  width: 140px;
}

.about {
  animation: fade-in 1.2s ease;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
}

.text button {
  border: none;
  color: black;
  font-family: 'Lato';
  background-color: #35a79d;
  border-radius: 15px;
  width: 150px;
  margin-top: 10px;
  padding-left: 5%;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.text a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  animation: slide-left-to-right 1s ease;
}

@keyframes slide-left-to-right {
  from {
    transform: translateX(-25%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width:1150px)  {
  .content {
    flex-direction: column;
    align-items: center;
    padding: 5vh;
  }

  .titles {
    align-items: center;
    text-align: center;
    margin-bottom: 3vh;
    line-height: 4vh;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .subtitle {
    margin-top: 20px;
  }

  .text button {
    margin-top: 20px;
  }

  .header  {
    width: 80%;
  }
}