.links {
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
    font-size: 20px;
    animation: fadeInLinks 1s ease;
}

@keyframes fadeInLinks {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.links a {
    color: white;
    text-decoration: none;
    border-bottom: 3px solid #28aeb1;
    border-image: linear-gradient(to right, #28aeb1 50%, transparent 50%) 100% 1;
    transition: all 0.3s linear;
}

.links a:hover{
    border-image: linear-gradient(to right, #28aeb1 100%, #28aeb1 50%) 100% 1;
    transition: all 0.3s linear;
}

.active {
    border-bottom: 3px solid #28aeb1;
    transition: all 0.3s linear;
}

.mobLinks {
    background-color:black;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burguer {
    position: absolute;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 2;
}

@media (max-width:600px)  {
    .icons {
      flex-direction: column;
    }
}